/* background-color */

.bg-white{
    background-color: white;
}

.bg-lightgrey{
    background-color: #f3f5f9;
}

.sfondo-pesci{
    background-image: url("img/bg-banner-home.jpg");
    background-size: cover;
}

.bg-blue{
    background-color: #0028a2;
}

.bg-darker-blue{
    background-color: #031c4e;
}

.bg-azzurro{
    background-color: #579aff;
}

.bor-azzurro{
    border-color: #579aff;
}

.mh-200{
    min-height: 200px;
}

.w-200px{
    width: 100px;
}

.my-header-img-container{
    max-width: 200px;
}

.my-img-container{
    max-width: 250px;
    display: inline-block;
}

nav a{
    color: black;
}

.va-center{
    vertical-align: center;
}

.text-a{
    text-align: center;
}

/* padding top e bottom */

.ptb-50{
    padding: 50px 0;
}

.ptb-30{
    padding: 30px 0;
}

.ptb-20{
    padding: 20px 0;
}

.ptb-10{
    padding: 10px 0;
}

.ptb-5{
    padding: 5px 0;
}

.pl-10{
    padding-left: 10px;
}

.br-5{
    border-radius: 5px;
}

/* colore testo */
.text-color-w{
    color: white;
}

.text-color-lg{
    color: lightgrey;
}

.text-color-g{
    color: grey;
}

.text-color-sky{
    color: #006aff;
}

.border-l{
    border-left: 1px solid lightgrey;
}

.pallino-b{
    background-color: #006aff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.pallino-vuoto{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid #006aff;
}

.display-ib{
    display: inline-block;
}

#regioni .row{
    border-bottom: 1px solid white;
    width: 98%;
}

#regioni *{
    padding: 5px 0;
}

#regioni a{
    color: #00d5d1;
}

footer p{
    color: lightgray;
}

.p-fix {
    position: fixed;
    bottom: 20px;
    right: 140px;
}

.container-helper-shark{
    width: 50px;
    height: 50px;
    background-color: #006aff;
    border-radius: 5px;
}

.notifiche-shark{
    position:absolute;
    top: 0;
    right: 0;
    background-color: red;
    border: 2px solid white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}